.root {
  display: block;
  padding: var(--gutter-sm) var(--gutter-xl);
  font-family: var(--fontfamily);
  font-weight: var(--fontweight-semibold);
  font-size: var(--fontsize-xs);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.025em;
  position: relative;
  border: 0;
}
